[mysqld]
bind-address = 127.0.0.1
innodb_buffer_pool_size = 64M
innodb_log_buffer_size = 8M
innodb_flush_method = O_DIRECT
performance_schema = OFF
max_connections = 30
table_open_cache = 200
tmp_table_size = 16M
max_heap_table_size = 16M
skip_name_resolve = ON
